<style>
.recommend {
  float: left;
  border-right: 1px solid #999;
  width: 280px;
  height: 150px;
  padding: 10px;
}
.clearfix {
  overflow: auto;
}
.box {
  border: 1px solid #999;
  list-style-type: none;
}
.box h3{
  margin-left: 310px;
}
.description {
  margin-left: 310px;
  margin-right: 10px;
}
</style>
<ul>
  <li class="box clearfix">
  <a href="/blog/2015/12/01/mathematics-of-advent-calendar/"><img class="recommend" src="/images/math-1547018_640.jpg"/></a>
    <h3><a href="/blog/2015/12/01/mathematics-of-advent-calendar/">30歳から始める数学</a></h3>
    <p class="description">とあることから、30歳にして数学を学び始めました。いまは毎日楽しく数学の書籍を読んだり方程式を解いたりしています。本記事では、僕と同じようにもう一度数学を学びたいなと思っている人向けに、数学の魅力を再発見する方法を紹介します。</p>
  </li>
  <li class="box clearfix">
    <a href="/blog/2015/12/06/child-raising-engineer-of-advent-calendar/">
      <img class="recommend" src="/images/logo.png"/>
    </a>
    <h3><a href="/blog/2015/12/06/child-raising-engineer-of-advent-calendar/">幸せな子育てとエンジニアライフ</a></h3>
    <p class="description">我が家は僕と妻、4歳の長男と1歳の長女の4人家族です。 どちらの子もすくすくと育っています。
    上の子は幼稚園が楽しいようで毎日元気に登園しており...</p>
  </li>
  </li>
  <li class="box clearfix">
    <a href="/blog/2016/03/17/php-coding-rule/">
      <img class="recommend" src="/images/logo.png"/>
    <a/>
    <h3><a href="/blog/2016/03/17/php-coding-rule/">PHPコーディング規約とサポートするツール</a></h3>
    <p class="description">この記事の内容
    PHPのコーディング規約とそれをサポートするツールの紹介です。 座学形式で説明していきます。 概要を知りたい場合は以下のスライドを参照ください。 はじまり、はじまり</p>
  </li>
</ul>
