<style>
.recommend {
  float: left;
  border-right: 1px solid #999;
  max-width: 140px;
  height: 75px;
  padding: 10px;
}
.clearfix {
  overflow: auto;
}
.box {
  border: 1px solid #999;
  list-style-type: none;
}
.box h3{
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 170px;
    min-width: 100px;
}
</style>
<ul>
  <li class="box clearfix">
  <a href="/blog/2015/12/01/mathematics-of-advent-calendar/"><img class="recommend" src="/images/math-1547018_640.jpg"/></a>
    <h3><a href="/blog/2015/12/01/mathematics-of-advent-calendar/">30歳から始める数学</a></h3>
  </li>
  <li class="box clearfix">
    <a href="/blog/2015/12/06/child-raising-engineer-of-advent-calendar/">
      <img class="recommend" src="/images/logo.png"/>
    </a>
    <h3><a href="/blog/2015/12/06/child-raising-engineer-of-advent-calendar/">幸せな子育てとエンジニアライフ</a></h3>
  </li>
  </li>
  <li class="box clearfix">
    <a href="/blog/2016/03/17/php-coding-rule/">
      <img class="recommend" src="/images/logo.png"/>
    <a/>
    <h3><a href="/blog/2016/03/17/php-coding-rule/">PHPコーディング規約とサポートするツール</a></h3>
  </li>
</ul>
