<style>
.footer-menu-item {
  display: -webkit-flex;
  display: flex;
}
.footer-menu-item li {
  list-style: none;
  border-left: 1px solid #ccc;
  padding: 0 1em;
}
.footer-menu-item a {
  text-decoration: none;
}
</style>
<ul class="footer-menu-item">
  <li><a href="/about">About</a></li>
  <li><a href="/atom.xml">RSS</a></li>
  <li><a href="https://twitter.com/sinn_shoyan" target="_blank">Twitter</a></li>
  <li><a href="https://github.com/shoyan" target="_blank">Github</a></li>
</ul>

<ul class="footer-menu-item">
  <li><a href="/diary/" target="_blank">糸島生活</a></li>
  <li><a href="http://balloonbros.cc/" target="_blank">BalloonBros</a></li>
</ul>

<p>
Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.title }}
</p>
