// This File is imported last, and will override other styles in the cascade
// Add styles here to customize your blog
// By default this file should be EMPTY!!!
// Please edit specifications in place if you are building an other theme!

.margin-height-10 { margin: 10px 0; }
